@import 'reset';
@import 'variables';
@import 'mixin';

.slider-container {
    width: 100%;
    height: 600px;
    position: absolute;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
    transition: transform 1.76s ease;
    opacity: 0;
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .text h1 {
		@extend %extend_1;
	}
}

.slide0{
	opacity: 1;
	background-image: $url_0;
}
.sgc-0 {
	background-image: $url_0;
}
.slide1 {
	background-image: $url_1;
	transform: translate3d(0,0,0);
}
.sgc-1 {
	background-image: $url_1;
}
.slide2 {
	background-image: $url_2;
	transform: translate3d(0,0,0);
}
.sgc-2 {
	background-image: $url_2;
}
.slide3 {
	background-image: $url_3;
	transform: translate3d(0,0,0);
}
.sgc-3 {
	background-image: $url_3;
}
.sgc {
	display: flex;
	flex: 1;
	height: 200px;
	text-align: center;
	flex-flow: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 200px;
	&.active {
		border-bottom: 5px solid $red;
	}
	.text h1 {
		@extend %extend_1;
		font-size: 1.75rem;
		font-weight: 100;
	}
    @include atSmall() {
        height: 100px;
		.text h1 {
			font-size: .75rem;
			font-weight: 100;
			padding: 3px 4px;
			border: 2px solid $white;
		}
    }
    @include atMedium() {
        height: 135px;
		.text h1 {
			font-size: .75rem;
			font-weight: 100;
			padding: 3px 4px;
			border: 2px solid $white;
		}
    }
}
.text {
	color: $white;
}
.previous {
	@extend %extend_2;
}
.next {
	@extend %extend_2;
	right: 0;
}
.prev-icon {
	@extend %extend_3;
}
.next-icon {
	@extend %extend_3;
}
.slider-gallery {
	height: auto;
	background-color: $color_iron_approx;
	.wrapper {
		width: 100%;
		height: auto;
		margin: auto;
        padding-top: 600px;
        @include atSmall {
            width: 100%;
        }
	}
    
}
.sg-progressbar {
	width: 0;
	height: 5px;
	background-color: $red;
}
.sg-container {
	opacity: .7;
	display: flex;
	justify-content: center;
}
